BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 4
ColumnLimit: 0
MaxEmptyLinesToKeep: 2

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
NamespaceIndentation: Inner
AlignAfterOpenBracket: AlwaysBreak
PointerAlignment: Left
#FixNamespaceComments: true
AccessModifierOffset: -4

BreakBeforeBraces: Custom
# Just meaningful when BreakBeforeBraces is Custom
BraceWrapping:   
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    # AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
BreakBeforeTernaryOperators: false

