[user]
	name = Luis Donoso
    email = luisantoniod@gmail.com

[alias]
    lg = log --decorate --oneline --graph
    st = status -s
    d = difftool

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[core]
    editor = vim
    longpaths = true
    excludesFile  = ~/.gitignore

[branch]
    autosetuprebase = always
